main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.queueContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(16, 73, 197); */
    width: 200px;
    height: 200px;
    border-radius: 24px;
}