html, body, header, footer, nav, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #003153;
    background-image: linear-gradient(315deg, #003153 0%, #1B1B1B 74%);
    width: 100vw;
    height: 100vh;
    color: white;
}

.invisible {
    visibility: hidden; 
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    width: 25vw;
    padding: 25px 25px;
    margin: 50px 50px;
}

.centerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 20px;
}

#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}